<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis qui eius doloremque error, earum voluptates dicta recusandae assumenda facilis harum perspiciatis quae ipsam quidem culpa ea corrupti quisquam eligendi impedit!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis qui eius doloremque error, earum voluptates dicta recusandae assumenda facilis harum perspiciatis quae ipsam quidem culpa ea corrupti quisquam eligendi impedit!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis qui eius doloremque error, earum voluptates dicta recusandae assumenda facilis harum perspiciatis quae ipsam quidem culpa ea corrupti quisquam eligendi impedit!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>